[submodule "third_party/SEA-RAFT"]
	path = third_party/SEA-RAFT
	url = https://github.com/princeton-vl/SEA-RAFT.git
[submodule "third_party/segprop"]
	path = third_party/segprop
	url = https://github.com/vlicaret/segprop.git
