[submodule "third_party/SEA-RAFT"]
	path = third_party/SEA-RAFT
	url = https://github.com/princeton-vl/SEA-RAFT.git
[submodule "third_party/SSP"]
	path = third_party/SSP
	url = https://github.com/FraunhoferIVI/SSP.git
[submodule "third_party/GeoSeg"]
	path = third_party/GeoSeg
	url = https://github.com/WangLibo1995/GeoSeg.git
